.aboutMe{
    width: 80%;
    margin: 5em auto;
}
.aboutMe .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutMe .about .image img{
    width: 80%;
    border-radius: 50%;
}
.aboutMe .about .info {
    flex: 1;
}
.aboutMe .about .info .paragrafos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    .aboutMe {
        width: 90%;
        margin: 4em auto;
    }

    .aboutMe .about .image img {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .aboutMe .about {
        flex-direction: column;
        text-align: center;
        gap: 2em;
    }
    .aboutMe .about .image img {
        width: 50%;
    }
    .aboutMe .about .info .paragrafos {
        align-items: center;
        text-align: justify;
    }
}
@media (max-width: 480px) {
    .aboutMe {
        width: 92%;
        margin: 3em auto;
    }
    .aboutMe .about .image img {
        width: 60%;
    }
    .aboutMe .about .info .paragrafos {
        gap: .7em;
        margin-bottom: 1.5em;
    }
}
