.BotaoTransparente,.BotaoPadrao{
  cursor: pointer;
  padding: 1em 2em;
  font-size: .9em;
  font-family: var(--fonte-padrao);
}
.BotaoTransparente{
  color: var(--cor-branco);
  text-decoration: none;
  border: 1px solid var(--cor-cinza);
  background-color: var(--cor-cinza-transparente);
  backdrop-filter: blur(20px);
  border-radius: 2em;
  font-weight: 400;
}
.BotaoPadrao{
  color: var(--cor-branco);
  text-decoration: none;
  border: none;
  background-color: var(--cor-vermelho);
  backdrop-filter: blur(20px);
  border-radius: 2em;
  font-weight: 500;
}
.BotaoForms{
  cursor: pointer;
  padding: 1em 2em;
  font-size: .9em;
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  text-decoration: none;
  border: none;
  background-color: var(--cor-vermelho);
  backdrop-filter: blur(20px);
  border-radius: 2em;
  font-weight: 500;
}
.BotaoForms:hover, .BotaoPadrao:hover{
  transition: .7s;
  background-color: var( --cor-vermelho-escuro);
}