.hero {
  width: 100%;
  height: 95vh;
  position: relative; 
  overflow: hidden;
}

.informacoesHero {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 10; /* fica acima do canvas */
}
.informacoesHero h1 {
  text-align: center;
  margin-bottom: .7em;
}
.informacoesHero div{
  display: flex;
  gap: 1em;
}
.apresentacao{
    font-size: 1.3em;
}
