.box {
    position: relative;
    margin-bottom: 3em;
}
.iconeBox {
    background-color: var(--cor-branco);
    width: 1em;
    height: 1em;
    border-radius: .5em;
    display: block;
    position: absolute;
    left: 1em;
    top: .9em;
    outline: 1em solid var(--cor-preto);
}
.conteudoCarreira {
    padding: 1.5em;
    margin-left: 5em;
    background-color: var(--cor-cinza-transparente);
    border-radius: 0.8em;
}
.conteudoCarreira h3{
    margin-bottom: .5em;
}
.tituloSecao {
    margin-top: 1em;
    display: block;
    font-weight: bold;
}
.listaTopicos {
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 1em;
}
