.barraTotal{
    margin: .2em 0;
    background-color: var(--cor-cinza);
    height: 2vh;
    width: 100%;
    border-radius: 1vh;
}
.barra{
    border-radius: 1vh;
    height: 2vh;
    background-color: var(--cor-vermelho);
}